.forumQA {
    display: flex;
    flex-direction: row;
    margin: 7px;
}

.forum_answer {
    margin-top:0px;
    margin-bottom:10px;
    font-weight: 500;
    letter-spacing: 1px;
}

.forum_question{
    margin: 5px 5px 0px 5px;
    font-weight: 700;
}

.forum_doc_name{
    margin-left: 5px;
    padding: 1px 4px;
    background: rgb(204, 202, 202);
    color: rgb(49, 47, 47);
    border-radius: 5px;
}

.forum_answer_desc{
    margin: 0px 5px 0px 5px;
}

.forumAns{
    font-weight: 700;
}

.button-container{
    text-align: center;
    margin: 5px;
    /* margin-top: 55px; */
}
.forum_btn{
    margin:0px 5px;
}

ion-label.question_input {
    font-size: 23px !important;
    font-weight: 700;
    color: rgb(90, 86, 86) !important;
}

.addQuestionIcon{
    margin-right: 5px;
}

.addQuestionBtn{
    margin:20px 10px;

}

.forum_modal{
    margin:10px
}

.addAnswer{
    font-size: 15px;
    color: rgb(22, 22, 235);
    margin-left: 5px;
}

.questionContainer {
    margin: 20px 0px;
}

.forumPopOver{
    margin:auto
}