.login_container{
    /* border: 1px solid black; */
    text-align: center;
    border-radius: 10px;
    margin: 90px 12px;
    padding: 10px;
    box-shadow: #63636333 0px 2px 8px 0px;
}

.login_item {
    margin: 10px auto;
}

.login_btn{
    height: 33px;
    width: 110px;
    margin-right: 15px;
}

img.login_img {
    height: 71px;
}